<!DOCTYPE html>

<html>
<head>
    <title>DEP_RECETTE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
    <meta name="author" content="CodedThemes">

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- [Page specific CSS] start -->
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/css/plugins/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/select.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/autoFill.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/keyTable.bootstrap5.min.css">
    <!-- [Page specific CSS] end -->
    <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/feather.css">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/material.css">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/assets/css/style-preset.css">

    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    @*@Styles.Render("~/Content/bundle")*@
    @Styles.Render("~/Content/DevExtremeBundle")
    @*@Scripts.Render("~/Scripts/bundle")*@
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    @Html.Partial("partialVue/Left")

    @Html.Partial("partialVue/Head")

    <section class="pc-container">
        <div class="pc-content">

            @RenderBody()

        </div>
    </section>
    @Html.Partial("partialVue/footer")




    @*<script src="~/assets/js/plugins/apexcharts.min.js"></script>*@
    @*<script src="~/assets/js/pages/dashboard-default.js"></script>*@
    <!-- [Page Specific JS] end -->
    <!-- Required Js -->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>





    <script>layout_change('light');</script>




    <script>change_box_container('false');</script>



    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-1");</script>


    <script>font_change("Public-Sans");</script>


    <!-- datatable Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.autoFill.min.js"></script>
    <script src="~/assets/js/plugins/autoFill.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/plugins/keyTable.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.select.min.js"></script>
    <script>
        // [ Autofill ]
        $('#autofill').DataTable({
            autoFill: true
        });
        // [ KeyTable Integration ]
        $('#key-integration').DataTable({
            keys: true,
            autoFill: true
        });
        // [ Column Selector ]
        $('#confirm-table').DataTable({
            autoFill: {
                alwaysAsk: true
            }
        });

        // [ scroll fill ]
        var safill = $('#scroll-fill').dataTable({
            scrollY: 400,
            scrollCollapse: true,
            paging: false,
            autoFill: true
        });
        $('#colum-select').DataTable({
            columnDefs: [
                {
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']],
            autoFill: {
                columns: ':not(:first-child)'
            }
        });
    </script>
</body>

</html>