@{ 
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    if (@Session["LOGIN"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<!DOCTYPE html>

<html>
<head>
    <title>DEP_RECETTE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
    <meta name="author" content="CodedThemes">

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <!-- [Page specific CSS] start -->
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/css/plugins/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/select.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/autoFill.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/keyTable.bootstrap5.min.css">
    <!-- [Page specific CSS] end -->
    <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/feather.css">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/material.css">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/assets/css/style-preset.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.autoFill.min.js"></script>
    <script src="~/assets/js/plugins/autoFill.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/plugins/keyTable.bootstrap5.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.select.min.js"></script>

    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    @*@Styles.Render("~/Content/bundle")*@
    @Styles.Render("~/Content/DevExtremeBundle")
    @*@Scripts.Render("~/Scripts/bundle")*@
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
    <input type="hidden" name="@action" value="@action" id="pageName" class="form-control" />
    <input type="hidden" name="" value="@Session["GROUPE"].ToString()" id="groupeUs" class="form-control" />

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    @Html.Partial("partialVue/Left")

    @Html.Partial("partialVue/Head")

    <section class="pc-container">
        <div class="pc-content">
            <div class="page-header" style="margin-top:-30px">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            @if (controller != "Home")
                            {
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="Home" name="account">Accueil</a></li>
                                    <li class="breadcrumb-item">@controller</li>
                                    <li class="breadcrumb-item"><a href="#">@action</a></li>
                                </ul>
                            }
                            else
                            {
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Accueil</h5>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()

        </div>
    </section>
    <div id="popupForm" style="display:none; position:fixed; top:5%; left:10%; width:80%; height:90%; background:#fff; border:1px solid #ccc; box-shadow:0 0 10px #333; z-index:10000;">
        <div style="text-align:right; padding:5px;">
            <button onclick="$('#popupForm').hide()" class="btn btn-sm btn-danger">Fermer</button>
        </div>
        <iframe id="popupIframe" src="" style="width:100%; height:95%; border:none;"></iframe>
    </div>
    @*@Html.Partial("partialVue/footer")*@




    @*<script src="~/assets/js/plugins/apexcharts.min.js"></script>*@
    @*<script src="~/assets/js/pages/dashboard-default.js"></script>*@
    <!-- [Page Specific JS] end -->
    <!-- Required Js -->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>
    <script src="~/js/Layout.js"></script>



    <script>layout_change('light');</script>




    @*<script>change_box_container('false');</script>*@



    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-1");</script>


    <script>font_change("Public-Sans");</script>


    <!-- datatable Js -->

</body>

</html>