@{ 
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="~/assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">Accueil</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>App</label>
                    <i class="ti ti-dashboard"></i>
                </li>


                <li class="pc-item pc-hasmenu @(controller == "Parametre"?"active":"") @(controller == "Parametre"?"pc-trigger":"")">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Paramétres
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item @(action == "societe"?"active":"")"><a class="pc-link Parametre" name="societe" href="#">Société</a></li>
                        <li class="pc-item @(action == "Caisse"?"active":"")"><a class="pc-link Parametre" name="Caisse" href="#">Caisses</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu @(controller == "Saisie"?"active":"") @(controller == "Saisie"?"pc-trigger":"")">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Saisie
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item @(action == "Enregistrement"?"active":"")"><a class="pc-link Saisie" name="Enregistrement" href="#">Enregistrement</a></li>
                        <li class="pc-item @(action == "TabBord"?"active":"")"><a class="pc-link Saisie" name="TabBord" href="#">Tableau de bord</a></li>
                        <li class="pc-item @(action == "EditOperation"?"active":"")"><a class="pc-link Saisie" name="EditOperation" href="#">Editions des opérations</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu @(controller == "Utilitaires"?"active":"") @(controller == "Utilitaires"?"pc-trigger":"")">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                            Utilitaires
                        </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item @(action == "Sauvegarde"?"active":"")"><a class="pc-link Utilitaires" name="Sauvegarde" href="#">Sauvegarde</a></li>
                        <li class="pc-item @(action == "Restauration"?"active":"")"><a class="pc-link Utilitaires" name="Restauration" href="#">Restauration</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>